<!--
---
title: "Linear Regression."
author: "Darya Vanichkina"
exercises: 0
keypoints: 
- Regression is the prediction of the value of a continuous variable based on one or more other continuous or categorical variables.
- Multiple types of regression can be implemented to fit the data
source: Rmd
start: 0
teaching: 30
bibliography: references.bib
---
-->

## Linear regression

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
from sklearn import preprocessing
from sklearn import model_selection

%matplotlib inline
sns.set(font_scale = 1.5)

In [82]:
ameshousingClean = pd.read_csv('data/AmesHousingClean.csv')
ameshousingClean['Age'] = ameshousingClean['Year_Sold'].max() - ameshousingClean['Year_Built']
ameshousingClean['Remodel_Age'] = ameshousingClean['Year_Sold'].max() - ameshousingClean['Year_Remod_Add']
ameshousingClean['No_Second_Floor'] =  np.where(ameshousingClean['Second_Flr_SF']==0, 1, 0)
ameshousingClean['No_Three_season_porch'] =  np.where(ameshousingClean['Three_season_porch']==0, 1, 0)

ameshousingClean['No_Alley_Access'] =  np.where(ameshousingClean['Alley']=="No_Alley_Access", 1, 0)
ameshousingClean['Paved'] =  np.where(ameshousingClean['Alley']=="No_Alley_Access", 1, 0)

In [84]:
ameshousingClean['Alley'].value_counts()

No_Alley_Access    2732
Gravel              120
Paved                78
Name: Alley, dtype: int64

Add a column to the dataset to split the Sale Price by percentile into 10 bins:

In [21]:
ameshousingClean['Sale_Price_quartile'] =  pd.qcut(ameshousingClean['Sale_Price'], 10, labels=range(10))

Now we can use scikit-learn's train-test split to split the data into a training and testing subset, stratifying it by the percentile bin of the Sale_Price:

In [23]:
index_train, index_test  = train_test_split(np.array(data.index), train_size=0.7, random_state=5)

NameError: name 'train_test_split' is not defined

In [26]:
ameshousingClean.columns

Index(['Unnamed: 0', 'MS_SubClass', 'MS_Zoning', 'Lot_Frontage', 'Lot_Area',
       'Street', 'Alley', 'Lot_Shape', 'Land_Contour', 'Utilities',
       'Lot_Config', 'Land_Slope', 'Neighborhood', 'Condition_1',
       'Condition_2', 'Bldg_Type', 'House_Style', 'Overall_Qual',
       'Overall_Cond', 'Year_Built', 'Year_Remod_Add', 'Roof_Style',
       'Roof_Matl', 'Exterior_1st', 'Exterior_2nd', 'Mas_Vnr_Type',
       'Mas_Vnr_Area', 'Exter_Qual', 'Exter_Cond', 'Foundation', 'Bsmt_Qual',
       'Bsmt_Cond', 'Bsmt_Exposure', 'BsmtFin_Type_1', 'BsmtFin_SF_1',
       'BsmtFin_Type_2', 'BsmtFin_SF_2', 'Bsmt_Unf_SF', 'Total_Bsmt_SF',
       'Heating', 'Heating_QC', 'Central_Air', 'Electrical', 'First_Flr_SF',
       'Second_Flr_SF', 'Low_Qual_Fin_SF', 'Gr_Liv_Area', 'Bsmt_Full_Bath',
       'Bsmt_Half_Bath', 'Full_Bath', 'Half_Bath', 'Bedroom_AbvGr',
       'Kitchen_AbvGr', 'Kitchen_Qual', 'TotRms_AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace_Qu', 'Garage_Type', 'Garage_Finish',
       'Garage_Cars', 'Garage_Area', 'Garage_Qual', 'Garage_Cond',
       'Paved_Drive', 'Wood_Deck_SF', 'Open_Porch_SF', 'Enclosed_Porch',
       'Three_season_porch', 'Screen_Porch', 'Pool_Area', 'Pool_QC', 'Fence',
       'Misc_Feature', 'Misc_Val', 'Mo_Sold', 'Year_Sold', 'Sale_Type',
       'Sale_Condition', 'Sale_Price', 'Longitude', 'Latitude',
       'Sale_Price_quartile'],
      dtype='object')

In [31]:
ameshousingClean[['First_Flr_SF', 'Second_Flr_SF']].head()

   First_Flr_SF  Second_Flr_SF
0          1656              0
1           896              0
2          1329              0
3          2110              0
4           928            701

In [38]:
ameshousingClean.sort_values('Sale_Price')[['Year_Built']]

      Year_Built
181         1923
1553        1952
726         1920
2843        1922
2880        1949
709         1910
1901        1946
1555        1920
727         1900
708         1940
1302        1946
2043        1910
307         1896
2879        1945
1220        1935
2689        1941
206         1930
1321        1920
1546        1922
306         1952
945         1910
287         1914
720         1910
662         1940
790         1958
742         1936
907         1920
765         1922
2184        1955
2653        1921
...          ...
2329        2005
1059        2005
421         2007
2382        2006
1763        2001
513         2005
2341        2005
2666        1892
1425        2008
1695        2007
422         2008
1691        2007
46          2003
1701        2007
366         2008
2334        2006
15          2003
2330        2006
456         2004
423         2008
2332        2005
433         2008
2450        1993
1637        2006
432         2007
44          2009
1063        2003
2445        1995
1760        1996
1767        1994

[2930 rows x 1 columns]